:root {
  --primary: #fdca40;
  --primary-hover: #f8bd25;
  --black: #242c36;
  --line: #d3d4d6;
  --rouge: #fd406d;
  --placeholder: #a7aaae;
}

body {
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: var(--black);
}
a {
  color: var(--black) !important;
  text-decoration: underline !important;
  font-family: "Poppins-Medium";
}
a:focus,
a:hover {
  color: var(--primary) !important;
  text-decoration: underline !important;
  outline: 0;
}
a svg {
  margin-right: 5px;
}
a:hover svg path {
  fill: var(--primary) !important;
}
a.back {
  text-decoration: none !important;
  font-family: "Poppins-Regular";
  top: 40px;
  left: 40px;
}
.mw-auto{
  max-width: auto !important;
}
.bgColor-primary {
  background-color: var(--primary) !important;
}
.page-title {
  font-size: 34px;
}
.page-title > span {
  font-family: "Poppins-Black";
}
.text-normal{
  text-transform: none !important;
}
.error {
  color: var(--red);
  font-size: 12px;
}
.error-input {
  border-color: var(--red) !important;
}
input {
  font-size: 14px !important;
  line-height: 24px !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border: 1px solid var(--line) !important;
  color: var(--black) !important;
  height: auto !important;
  padding: 13px 0.75rem !important;
  max-width: 100%;
}
input:focus {
  box-shadow: none !important;
}

.input-group input[type="password"] {
  border-radius: 4px 0 0 4px !important;
  -webkit-border-radius: 4px 0 0 4px !important;
  -moz-border-radius: 4px 0 0 4px !important;
  -ms-border-radius: 4px 0 0 4px !important;
  -o-border-radius: 4px 0 0 4px !important;
  border-right: 0 !important;
}
.input-group .input-group-text {
  border-left: 0;
}
input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
}
input[type="radio"] ~ label,
input[type="checkbox"] ~ label {
  position: relative;
  padding-left: 5px;
}
input[type="checkbox"] ~ label:after {
  display: inline-block;
  content: "";
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 2px solid var(--black);
  position: absolute;
  top: 0;
  left: -20px;
  height: 18px;
  width: 18px;
}
input[type="checkbox"]:checked ~ label:after {
  background: url(./img/icon-checked.svg) -1px -1px no-repeat #fff;
  border: 1px solid var(--primary);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.code-activation input {
  text-align: center;
}
.border-dashed{
  border-style: dashed !important;
}
.help_input {
  margin-top: 3px !important;
  line-height: 14px !important;
  font-size: 10px;
}
.help_input ul {
  list-style-position: inside;
  padding: 0;
}
.help_input strong {
  font-family: "Poppins-SemiBold";
}
input[type="submit"],
.btn-submit {
  color: #fff !important;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  font-size: 16px;
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 36px;
  margin-bottom: 20px;
  width: 100%;
}
.btn-submit .text-wrapper {
  padding-top: 13px;
  padding-bottom: 13px;  
}

input[type="submit"]:disabled:hover,
.btn-return:disabled:hover,
.btn-submit:disabled:hover,
input[type="submit"]:disabled,
.btn-return:disabled,
.btn-submit:disabled {
  cursor: initial;
  background-color: #fedd85;
  border: 1px solid #fedd85 !important;
}
input[type="submit"]:focus,
input[type="submit"]:hover,
.btn-return:focus,
.btn-return:hover,
.btn-submit:focus,
.btn-submit:hover {
  cursor: pointer;
  border: 1px solid var(--primary-hover);
  background-color: var(--primary-hover);
  outline: 0;
  box-shadow: none;
}
a.btn-submit {
  text-decoration: none !important;
  color: #fff !important;
}

.btn-return{
  color: var(--primary) !important;
  border: 1px solid var(--primary);
  font-size: 16px;
  font-family: "Poppins-SemiBold";
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 36px;
  margin-bottom: 20px;
  width: 100%;
}
.alert{
  border: 0;
  color: inherit;
}
.alert-success{
  background-color: transparent;
}

.date-picker{}
.date-picker svg{
  fill: var(--black) !important;
}
.date-picker label{
  left: 10px !important;
}
.date-picker i.md-date-icon{
  position: absolute;
  right: 10px;
}
.date-picker input{
  margin-left: 0 !important;
}
.date-picker button{
  margin: auto !important;
  top: 0 !important;
  bottom: 0;
  right: 35px !important;
}
#connexion,
#connexion > div {
  min-height: 100vh;
}
#connexion .connexion-content-wrapper {
  padding: 25px;
}
#connexion .content-right {
  max-width: 409px;
  margin-bottom: 10px;
}
.message-bienvenue-wrapper {
  padding: 25px;
  background: url(./img/bgBienvenu.png) 0 0 no-repeat transparent;
}
.form-user-wrapper {
  max-width: 502px;
  width: 100%;
}
.titre-form-user {
  font-family: "Poppins-Bold";
  font-size: 24px;
}
.form-additionnel {
  font-size: 12px;
}
.form-additionnel hr {
  margin: auto;
  width: 151px;
  margin-top: 36px;
  margin-bottom: 16px;
}
.captcha-wrapper {
  width: 304px;
  flex: 1 0 304px;
}
.felicitation-svg {
  margin-bottom: 32px;
}
.form-group {
  margin-bottom: 1rem;
}

#permanentfull .md-list-item-content {
  min-height: 44px;
  padding: 0;
}
#permanentfull .md-list-item a.router-link-active path.to-fill,
#permanentfull .md-list-item a:hover path.to-fill {
  fill: #fff !important;
}

#usermenu-dropdown .md-menu-content-container .md-list {
  padding: 0;
}
.usermenu-dropdown-item .md-list-item-content {
  font-size: 12px;
  font-family: "Poppins-Regular";
  color: var(--black) !important;
}
.text-initial {
  text-transform: initial;
}

/* Dashboard */
.dashboard-title {
  font-size: 34px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
}
.dashboard-title svg {
/*   width: 27px;
  height: 29.16px; */
}
.dashboard-title svg path {
  fill: var(--black);
}
.dashboard-border {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid var(--line);
}

.crypto-btn-ajouter.md-button .md-ripple {
  padding-left: 0;
  padding-right: 0;
}
.predict-dialog .btn-submit {
  /* font-family: "Roboto"; */
  text-transform: initial;
  width: auto !important;
  padding: 7px 16px;
  margin-top: 10px;
}
#content-dashboard-wrapper{
  width: 100%;
}
#content-sidebar-wrapper{
  flex: 0 0 40%;
  max-width: 676px;
}

.permanentfull-layout.column-wrapper >  #content-sidebar-wrapper {
  /* margin-bottom: 20px; */
}
@media (max-width: 1200px){
  .permanentfull-layout.column-wrapper > div{
    width: 100%;
    max-width: 100% !important;
  }
  .permanentfull-layout.column-wrapper >  #content-sidebar-wrapper {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.table {
  margin: 0;
  
}
.table th,
.table td {
  vertical-align: middle !important;
  border-left: 0;
  border-right: 0;
  padding-left: 1rem;
}
.table th {
  color: var(--placeholder);
  align-items: center;
  border: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
thead {
  background-color: var(--black);
}
.table-wrapper {
  width: 100%;
}
.table-wrapper .loader-content {
  background: rgba(0, 0, 0, 0.75);
  height: calc(100% - 66px);
  
  z-index: 5;
}
@media (max-width: 639px){
  .table-wrapper .loader-content {
    height: calc(100% - 59px);
    top: 59px;
  }
}

.pagination .page-link {
  border: 0;
}
.table-dropdown .dropdown-menu{
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgb(20 20 20 / 10%);
}
.table-dropdown .dropdown-item{
  font-family: 'Poppins-Regular';
  font-size: 12px;
  text-decoration: none !important;
  line-height: 18px;
  display: flex !important;
  align-items: center !important;
  padding: 10px 15px !important;
}
.table-dropdown .dropdown-item:hover{
  color: var(--black) !important;
  background-color: #F6F6F7;
}
.table-dropdown .dropdown-item:hover path{
  fill: var(--black) !important;
}

.table-tri{
  width: 15.5px;
  height: 100%;
  margin: 5px;
}
.table-tri button{
  width: 100%;
  min-width: auto;
  margin: 0;
  height: auto;  
  
}
.table-tri button.arrow-down svg{
  transform: translate(0, -2px);
}
.table-tri button.arrow-up svg{
  transform: translate(0, 2px);
}
.table-tri button.active path,
.table-tri button:hover path{
  fill: var(--primary);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.custom-icon.md-icon{
  font-family: 'Poppins-SemiBold';
  font-size: 14px !important;
  color: var(--black) !important;
  right: 10px;
}

#mon-compte .custom-input-number .md-icon-button{
  height: 34px;
}
#mon-compte .custom-input-number input{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.form-sms .btn-submit {
  width: 100% !important;
}
.vue-tel-input > .vti__dropdown,
.vue-tel-input > div {
  border: 1px solid var(--line);
  margin-right: 0.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: 0;
}
.bigBtn .md-ripple{
  padding: 8px 8px;
}

.form-abonnement .search-wrapper .md-clear{
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 20px;
}
.vue-tel-input{
  width: 100%;
}
.vue-tel-input:hover,
.vue-tel-input:focus,
.vue-tel-input:active,
.vue-tel-input:visited,
.vue-tel-input:focus-visible,
.vue-tel-input:focus-within{
  box-shadow: none !important;
}
.upload-file input{
  height: 100% !important;
}
.upload-file .beforeUpload{
  height: 100%;
  padding-top: 20px;
}
.titre-recherche {
  color: #5c626a;
  font-family: "Poppins-Medium";
  font-size: 20px;
  line-height: 24px;
}

.rond{
  display: inline-block;
  content: '';
  width: 11px;
  height: 11px;
  background-color: #FD406D;
  border-radius: 50%;
}
.rond.cloture{
  background-color: #FD406D;
}
.rond.ouvert,
.rond.termine{
  background-color: #21A179;
}
.rond.en_cours{
  background-color: #213FA1;
}
.rond.en_attente{
  background-color: var(--primary);
}
#support-table-empty-state.md-empty-state{
  max-width: auto !important;
}

.test .md-empty-state-description {

}


/* loader */
.loader-content {
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.loader-content .msg {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}
.loader-content .md-progress-spinner {
  margin: 16px;
}
.loader-content .md-progress-spinner svg {
  height: 40px !important;
  width: 40px !important;
}
.loader-content .md-progress-spinner .md-progress-spinner-circle {
  stroke : var(--primary) !important;
}
.wrapperPdf .vue-html2pdf .pdf-preview {
  height: calc(100vh - 60px) !important;
  top: 30px !important ;
  bottom: 30px;
}
.modal-pdf-preview{
  overflow: hidden;
}
.modal-pdf-preview .vue-html2pdf .layout-container{
  position: relative !important;
  left: inherit !important;
  top: inherit !important;
  z-index: initial !important;
  background: transparent !important;
  width: auto !important;
}
.vue-html2pdf.open-pdf:before {
  content: '';
  background: rgba(0, 0, 0, 0.494);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .25s ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  table caption {
    font-size: 1.3em;
  }
  
  .table-header,
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px !important;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
  .md-table-row td,
  table td {
    border-bottom: 1px solid #ddd !important;
    display: flex;
    justify-content: space-between;
    font-size: .8em !important;
    text-align: right;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    padding: 0.635rem;
    background-color: transparent !important;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 39%;
    text-align: left;    
  }
  
  table td:last-child {
    border-bottom: 0 !important;
  }
  @media (max-width: 600px) {
    .md-table-cell .md-table-cell-container .md-button {
      margin: 0;
      min-width: unset;
    }
  }
  .table-switch .md-switch-label,
  .table-switch{
    margin: 0;
  }
  .paire-col-mobile .md-table-cell-container{
    font-weight: bold !important;
    width: 100%;   
  }
}

.md-table-content table .md-table-row.pagination-row:hover .md-table-cell {
  background-color: #fff !important;
}
.md-table-content table .table-container {
  overflow: hidden auto;
  /* position: relative;
  height: calc(100vh - 60px); */
  /* min-height: 220px; */
  /* padding-bottom: 52px; */
}
@media (max-width: 600px) {
  .md-table-content table .table-container {
    padding-bottom: 0;
  }
}
.md-table-content table .table-container .table-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 6;
}
@media (max-width: 600px) {
  .md-table-content table .table-container .table-header {
    position: relative;
    top: auto;
  }
}
.md-table-content table .table-container .empty-data .md-table-cell {
  justify-content: center;
}
.md-table-content table .md-table-row.pagination-row {
  background-color: #fff;
  width: 100%;
}
@media (max-width: 600px) {
  .md-table-content table .md-table-row.pagination-row {
    border-radius: 0 0 8px 8px;
    margin: 0;
    position: static;
  }
}
@media (max-width: 600px) {
  .md-table-content table .md-table-row.pagination-row .md-table-cell-container {
    margin: 0 auto;
  }
}
.md-table-content table .md-table-pagination {
  justify-content: flex-start;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
}


@media (max-width: 960px) {
  .md-layout.md-gutter {
    margin-left: -16px;
    margin-right: -16px;
  }
}
@media (max-width: 600px) {
  .md-layout.md-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (max-width: 1280px) {
.md-layout.md-gutter>.md-layout-item {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 600px) {
  .md-layout.md-gutter>.md-layout-item {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.switch-cloture,
.switch-cloture label{
  margin-bottom: 0;
  font-weight: 600;
}

/* .tous-les-couples table,
.tous-les-couples .table-container{
  height: calc(100vh - 200px);
} */

#visualiser-crypto .for-chart {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  #visualiser-crypto .for-chart {
    justify-content: center;
  }
}


#visualiser-crypto .for-chart input[type="radio"] ,
#visualiser-crypto .for-chart input[type="checkbox"] {
  opacity: 1;
  visibility: hidden;
  position: absolute;
  left: -9999em;
}
#visualiser-crypto .for-chart input[type="radio"] + label:after,
#visualiser-crypto .for-chart input[type="checkbox"] + label:after{
  display: none;
}
#visualiser-crypto .for-chart input[type="radio"] + label:hover,
#visualiser-crypto .for-chart input[type="checkbox"] + label:hover{
  cursor: pointer;
}
#visualiser-crypto .for-chart input[type="radio"] + label,
#visualiser-crypto .for-chart input[type="checkbox"] + label{
  background-color: #5c626a;
  border-radius: 13px;
  border: 1px solid #707070;
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.25px;
  line-height: 100%;
  margin: 5px 10px 5px 0;
  min-width: 44px;
  padding: 6px 10px 5px;
  position: relative;
  text-align: center;
  width: auto;
}
@media (max-width: 600px) {
  #visualiser-crypto .for-chart input[type="radio"] + label,
  #visualiser-crypto .for-chart input[type="checkbox"] + label{
    margin: 5px 5px 5px 0;
  }
}
#visualiser-crypto .for-chart input[type="radio"]:checked + label,
#visualiser-crypto .for-chart input[type="checkbox"]:checked + label{
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--black);
}

#mon-compte .avatar-wrapper .upload-file .container{
  border-radius: 50%;
  border: none;
  overflow: hidden;
  padding: 0;
}
#mon-compte .avatar-wrapper .upload-file .beforeUpload{
  padding: 0;
}
#mon-compte .avatar-wrapper .upload-file .beforeUpload .icon{
  height: 90%;
  margin-top: 12px;
  max-width: 90%;
}
#mon-compte .avatar-wrapper .upload-file .imgsPreview{
  position: relative;
  width: calc(100% + 18px);
  height: calc(100% + 18px);
  left: -9px;
  top: -9px;
}
#mon-compte .avatar-wrapper .upload-file .imgsPreview,
#mon-compte .avatar-wrapper .upload-file .imgsPreview .imageHolder{
  margin: 0;
  padding: 0;
}
#mon-compte .avatar-wrapper .upload-file .imgsPreview .imageHolder{
   width: 100%;
  height: 100%;
  position: relative;
}
#mon-compte .avatar-wrapper .upload-file .imgsPreview .clearButton{
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  color: transparent;
}
#mon-compte .avatar-wrapper .upload-file .imgsPreview .clearButton:hover{
    background-color: #fdca4038;
    color: #000;
    font-weight: 800;
    font-size: 16px;
}
#mon-compte .avatar-wrapper .upload-file .mainMessage{
  display: none;
}
@media (max-width: 600px) {
.md-app-container {
 overflow-x: hidden; 
}
}